// Nova Tool CSS

.form-input {
    border-color: hsla(0, 0%, 95%, 1) !important;

    &:focus {
        border-color: hsla(54, 100%, 57%, 1) !important;
        background: hsla(54, 100%, 62%, 1) !important;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05) !important;
    }
}

* {
    &:focus {
        outline: none !important;
    }
}
